<div class="container" style="margin-top: 30px; border-bottom: 1px solid #ddd">
	<div class="span12">
		<div class="row">
			<div class="span4">
				<div id="files-upload" class="upload-button fileinput-button" style="margin-top: -20px" data-bind="visible: loginState.isUser" data-bind="css: {disabled: !$root.loginState.isUser()}"><input id="gcode_upload" type="file" name="file" class="upload-button fileinput-button" data-bind="enable: loginState.isUser()"></div>	
			</div>
			<div class="span4">
				<div id="gcode_upload_progress" class="progress" style="margin-left: 15px; height: 30px; width:100%">
					<div class="bar" style="width: 0%"></div>
				</div>
			</div>
			<div class="span4 pull-right">
				<form class="form-search">
					<input type="text" class="input-block search-query" data-bind="value: searchQuery, valueUpdate: 'input'" placeholder="{{ _('Search...') }}">
				</form>
			</div>
		</div>
		<div class="row">
			<div class="span10" style="margin-top: 20px">
				{{ _('Sort by:') }}
				<a href="#" data-bind="click: function() { $root.listHelper.changeSorting('name'); }"><i class="icon-ok" data-bind="style: {visibility: listHelper.currentSorting() == 'name' ? 'visible' : 'hidden'}"></i> {{ _('name') }}</a>
				<a href="#" data-bind="click: function() { $root.listHelper.changeSorting('upload'); }"><i class="icon-ok" data-bind="style: {visibility: listHelper.currentSorting() == 'upload' ? 'visible' : 'hidden'}"></i> {{ _('upload date') }}</a>
			</div>
			<div class="span" style="margin-top: 20px">
				<small>{{ _('Free') }}: <span data-bind="text: freeSpaceString"></span></small>
			</div>
		</div>
	</div>
</div>

<div class="gcode_files" data-bind="slimScrolledForeach: listHelper.paginatedItems">
    <div class="entry" data-bind="attr: { id: $root.getEntryId($data) }, template: { name: $root.templateFor($data), data: $data }"></div>
    <script type="text/html" id="files_template_machinecode">
        <div class="title" data-bind="css: $root.getSuccessClass($data), style: { 'font-weight': $root.listHelper.isSelected($data) ? 'bold' : 'normal' }, text: name"></div>
        <div class="uploaded">{{ _('Uploaded') }}: <span data-bind="text: formatTimeAgo(date)"></span></div>
        <div class="size">{{ _('Size') }}: <span data-bind="text: formatSize(size)"></span></div>
        <div class="additionalInfo hide" data-bind="html: $root.getAdditionalData($data)"></div>
        <div class="btn-group action-buttons">
			{#3D Preview#}
		   <div class="btn btn-mini pull-right" data-bind="click: render_3dpreview.bind($data), clickBubble: false, css: {disabled: !$root.enableRemove($data)}"><img src="/static/img/view.svg" class="file_panel_button">&nbsp;3D Preview</div>
			{#trash#}
			<div class="btn btn-mini pull-right" data-bind="click: function() { if ($root.enableRemove($data)) { $root.removeFile($data); } else { return; } }, css: {disabled: !$root.enableRemove($data)}"><img src="/static/img/trash.svg" class="file_panel_button">&nbsp;Delete</div>
			{#download#}
			<a class="btn btn-mini pull-right" data-bind="attr: {href: $root.downloadLink($data), css: {disabled: !$root.downloadLink($data)}}"><img src="/static/img/download.svg" class="file_panel_button">&nbsp;Download</a>
			{#print#}
			<div class="btn btn-mini pull-right" data-bind="click: function() { if ($root.enableSelect($data)) { $root.loadFile($data, true); } else { return; } }, css: {disabled: !$root.enableSelect($data)}"><img src="/static/img/print.svg" class="file_panel_button">&nbsp;Print</div>
        </div>
    </script>

    <script type="text/html" id="files_template_model">
        <div class="title muted" data-bind="text: name"></div>
        <div class="uploaded">{{ _('Uploaded') }}: <span data-bind="text: formatTimeAgo(date)"></span></div>
        <div class="size">{{ _('Size') }}: <span data-bind="text: formatSize(size)"></span></div>
        <div class="btn-group action-buttons">
            <a class="btn btn-mini" data-bind="attr: {href: $root.downloadLink($data), css: {disabled: !$root.downloadLink($data)}}"><i class="icon-download-alt" title="{{ _('Download') }}"></i></a>
            <div class="btn btn-mini" data-bind="click: function() { if ($root.enableRemove($data)) { $root.removeFile($data); } else { return; } }, css: {disabled: !$root.enableRemove($data)}"><i class="icon-trash" title="{{ _('Remove') }}"></i></div>
            <div class="btn btn-mini"  data-bind="click: function() { if ($root.enableSlicing($data)) { $root.sliceFile($data); } else { return; } }, css: {disabled: !$root.enableSlicing($data)}"><i class="icon-magic" title="{{ _('Slice') }}"></i></div>
        </div>
    </script>

    <script type="text/html" id="files_template_folder">
        <div class="title" data-bind="text: name"></div>
    </script>
</div>